@import '../../scss/variables.scss';

.register, .login {  //Dwie pieczenie na jednym ogniu
  margin: 5rem 2.5rem;
  padding: 2rem;
  background-color: white;
  flex: 0 0 40%;
  font-size: 1.3rem;
  box-shadow: $custom-box-shadow;
  border-radius: 20px;

  button
  {
    margin-top: 2.6rem;
  }

  &__label {

    display: inline-block;
    margin: 1rem 0 .3rem 0;
    visibility: hidden;
  }

  &__login,
  &__email,
  &__password {
    width: 100%;
    display: block;
    padding: 1rem 1rem 1rem 5rem;
    position: relative;


    &:focus,
    &:active {
      border: 2px solid $primary-color;
      outline: none;
    }
  }

  &__info
  {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  &__group
  {
    position: relative;
  }

}

.login
{
  align-self: center;
}

.login
{
  @media(max-width: $tablet)
  {
    align-self: stretch;
  }
}