@import '../../scss/variables.scss';

.add-party //flex child
{
  font-size: 1.3rem;

  flex-basis: 50%;
  margin: 5rem auto;
  background-color: white;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: $custom-box-shadow;

  &__title,
  &__description,
  &__date,
  &__time,
  &__organizer {
    width: 100%;
    display: block;
    padding: 1rem;
    color: $color-info;

    &::-webkit-input-placeholder {
      color: $color-info;
    }

    &:focus,
    &:active {
      border: 2px solid $primary-color;
      outline: none;
    }

  }

  &__label {
    display: inline-block;
    margin: 1rem 0 .3rem 0;
  }

  &__checboxcontainer {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    @media(max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__checkbox-category
  {
    font-size: 1.2rem;
    flex: 0 0 33.3%;
    margin: .5rem 0;
  }


}