.passport //flex-child
{
  align-self: center;
  text-align: center;
  font-size: 1.3rem;
  flex-basis: 50%;
  margin: 5rem auto;
  background-color: white;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: $custom-box-shadow;

  &__icon {
    margin: 0 auto;
    width: 25rem;
    height: 15rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;


    &__topleft {
      border-top-left-radius: 20px;
      height: 4rem;
      flex: 0 0 50%;
      background-color:yellow;

    }

    &__topright {
      border-top-right-radius: 20px;
      height: 4rem;
      flex: 0 0 50%;
      background-color: $primary-color;
    }

    &__bottomleft {
      position: relative;
      border-bottom-left-radius: 20px;
      height: 11rem;
      flex: 0 0 50%;
      background-color: #dedbdb;
    }

    &__bottomright {
      position: relative;
      border-bottom-right-radius: 20px;
      height: 11rem;
      flex: 0 0 50%;
      background-color:gray;
    }
  }

  &__info
  {
    text-transform: uppercase;
    color:red;
    font-size: 2.2rem;
    margin: 2rem 0;
  }

  &__prompt
  {
    margin: 2rem 0;
    font-size: 2.2rem;
  }



}