//breakpoints
$min-mobile: 480px;
$mobile: 768px;
$tablet: 992px;
$laptop: 1200px;


//colors:

//legends
$color-info:#E83D25;
$primary-color:rgb(254, 148, 0);
$color-green: #1fef34;

$more-info:#67FFE2;
$follow:#37FF00;


$custom-box-shadow:5px 4px 50px 12px rgba( 0 , 0 , 0 , 0.9 );
