// header


// header bar
.header-bar {
  display: flex;
  width: 100%;
  height: 90px;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  border-top: 8px solid white;
  border-bottom: 8px solid white;
  background: rgb(254, 148, 0);
  background: linear-gradient(180deg, rgba(254, 148, 0, 1) 0%, rgba(246, 38, 0, 1) 100%);
  @media(max-width: $laptop){
    height: 80px;
  }
  @media(max-width: $tablet){
    height: 60px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
  }
  @media(max-width: $mobile){
    height: 40px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }
  @media(max-width: $min-mobile){
    height: 30px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }

  &__title {
    display: block;
    letter-spacing: 3px;
    font-size: 4.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    @media(max-width: $tablet){
      font-size: 3rem;
    }
    @media(max-width: $mobile){
      font-size: 2.8rem;
    }
    @media (max-width: $min-mobile) {
      font-size: 2rem;

    }
  }


  &__arrow {
    height: 150%;
  }
}


//Główne menu
.main-navigation {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  width: 100%;
  margin: .2rem auto .2rem;
  background: rgb(229, 67, 37);
  background: linear-gradient(90deg, rgba(229, 67, 37, 1) 0%, rgba(255, 157, 0, 1) 100%);
  border-bottom: 8px solid #fff;
  @media (max-width: $min-mobile){
    position: fixed;
    top: 0;
    left: -230px;
    width: 230px;
    height: 100%;
    z-index: 3;
    border-bottom: none;
  }
  @media (max-width:$tablet){
    border-bottom: none;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    display: block;
    font-family: "Gill Sans MT Condensed", Arial, "Helvetica Neue", Helvetica, sans-serif;;
    letter-spacing: 3px;
    padding: 1rem 2rem;
    font-size: 3.8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    @media(max-width: $laptop){
      font-size: 2.5rem;
      padding: 2rem;
    }
    @media(max-width: $tablet){
      font-size: 1.9rem;
      height: 40px;
      line-height: 40px;
      padding: 0 1.7rem;
    }
    @media(max-width: $mobile) {
      font-size: 1.3rem;
      line-height: 35px;
      padding: 0 1.2rem;
      height: 35px;

    }
    @media(max-width: $min-mobile){
      font-size: 2.8rem;
      height: 30px;
      padding: 2.2rem 2.2rem;
      line-height: 30px;
    }
  }
}



//Główna sekcja
.main-section
{
  display: flex;
  justify-content: space-between;
  background-image: url("../images/main-background.jpg");
  background-size: cover;
  border-radius: 5px;


  @media(max-width: $tablet)
  {
    flex-direction: column;

  }




  &__aside
  {
    flex: 0 0 20%;
    background-color: #fff;
    margin: 10rem 1rem 10rem 3rem;
    border-radius: 5px;
    @media(max-width: $tablet)
    {
      align-self: center;
      padding: 1rem;
      margin:2rem 1rem 1rem 1rem;
    }
  }


  &__content
  {
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex:1;
    margin: 10rem 1rem 10rem 1rem;
    border-radius: 5px;

    @media(max-width: $tablet)
    {
      margin:1rem 1rem 2rem 1rem;
    }

    @media (max-width: $min-mobile)
    {
      flex-direction: column;
      align-items: center;

    }
  }
}

.footer
{
  border-top: 8px solid white;
  background: rgb(254, 148, 0);
  background: linear-gradient(180deg, rgba(254, 148, 0, 1) 0%, rgba(246, 38, 0, 1) 100%);
  padding:2rem;
  text-align: center;

  &__info
  {
    font-size: 2.8rem;
    @media(max-width: $tablet)
    {
      font-size: 2rem;
    }
    @media(max-width: $min-mobile)
    {
      font-size: 1.5rem;
    }
  }

  &__link
  {
    text-decoration: none;
  }
}

.hamburger{
  position: fixed;
  font-size: 35px;
  top:20px;
  right:20px;
  display: none;
  @media(max-width: $min-mobile) {
    display: block;
  }
}

.main-navigation--small{
  @media (max-width: $min-mobile){
    left: 0;
    margin-top: 0;
    height: 100%;
    border-bottom: none;
  }
}

//Formularz logowania zakładka twoje imprezy



